project1_combine_all.cache/* linguist-vendored
project1_combine_all.hw/* linguist-vendored
project1_combine_all.ip_user_files/* linguist-vendored
project1_combine_all.runs/* linguist-vendored
project1_combine_all.sim/* linguist-vendored
project1_combine_all.srcs/sources_1/ip/* linguist-vendored